﻿@model MVCColours.Models.ColourModel
    

<h2>[ MVC Colours! ]</h2>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "MyText"
    }))
{
    <form>        
        @Html.EditorFor(Model => Model.Name)        
        <input type="submit" value="Save" hidden />
    </form>
}

<div id="MyText">Your name is <span>@Model.Name</span>, your Colour is <span>@Model.ColourName</span>, and your Hex vale is <span>@Model.ColourHex</span></div>