﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: 	 #455863;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18pt;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input {
    border: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 3em;
    outline: none;
}

#MyText {
    margin: 2em 0;
    padding: 1em;
    background: rgba(0,0,0,0.3);
}

#MyText span {
    color: #99ff99;
}

h2, footer {
    color:#b4c2cb;
}

hr {
    border: 1px solid #b4c2cb;
}